
.loader {
   border: 16px solid #f3f3f3;
   border-radius: 80%;
   border-top: 16px solid #3498db;
   width: 200px;
   height: 200px;
   -webkit-animation: spin 2s linear infinite; /* Safari */
   animation: spin 2s linear infinite;
 }

 /* Safari */
@-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

 input.valid {
  display: block;
  width: 100%;
  height: calc(1.5em + 2rem + 0rem);
  padding: 1rem 0;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #666;
  background-color: transparent;
  background-clip: padding-box;
  border: 0rem solid transparent;
  border-radius: 0; */

 }

 input.invalid {
  display: block;
  width: 100%;
  height: calc(1.5em + 2rem + 0rem);
  padding: 1rem 0;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #666;
  background-color: transparent;
  background-clip: padding-box;
  border: 0rem solid transparent;
  border-radius: 0; */
 }

 input.invalid + p {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
 }

input + p {
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  margin: 0 10px;
  color: #E74C3C;
  opacity: 0;
  height: 0;
}