<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/dashboard">Marmeto</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
 
   <div class="collapse navbar-collapse" id="navbarColor01">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" href="/dashboard">Slip</a>
       </li>
        <li class="nav-item">
         <a class="nav-link" href="/support">Support</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/newsevent">News & Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vacation">Vacation</a>
      </li>
      <!-- <li class="nav-item">
         <a class="nav-link" href="#">Pricing</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">About</a>
       </li> -->
     </ul>

     <a href="/delete"><button class="btn btn-secondary my-2 my-sm-0" type="button">Logout</button></a>
   </div>
  </div>
 </nav>
<br>

