<%- include('../include/head.ejs') %>

<div class="card text-white bg-danger mb-3" style="max-width: 17rem;margin-left: 38%;margin-top: 13%;">
   <div class="card-header">Unauthorised access</div>
   <div class="card-body">
     <h4 class="card-title">Unauthorised area</h4>
     <p class="card-text">You have no access to view this page. Please login ....<a href="/" style="text-decoration:none; color: white;">here</a></p>
   </div>
 </div>

<%- include('../include/footer.ejs') %>